@page
@model LibAmbiente.Sistema.Pages.Index
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Informações de Ambiente</title>
</head>
<body>
    <h2>Machine Name: @TempData["MachineName"]</h2>
    <h2>Sistema: @TempData["Sistema"]</h2>
</body>
</html>
