@page
@model LibAmbiente.Sistema.Pages.Index
@{
    Layout = "_Layout";
}

<h1>Sobrescrevendo o conteúdo da biblioteca</h1>
<h2>Machine Name: @TempData["MachineName"]</h2>
<h2>Sistema: @TempData["Sistema"]</h2>